.places__paragraph {
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 425px) {
  .places__paragraph {
    line-height: 163%;
    font-size: 16px;
  }
}

@media screen and (max-width: 425px) {
  .places__paragraph {
    line-height: calc(26 * calc(100vw / 320));
    font-size: calc(16 * calc(100vw / 320));
  }
}
