.places__paragraph {
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1024px) {
  .places__paragraph {
    font-size: 18px;
    line-height: 163%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .places__paragraph {
    line-height: 163%;
    font-size: calc(18 * calc(100vw / 1024));
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .places__paragraph {
    line-height: 163%;
    font-size: calc(16 * calc(100vw / 768));
  }
}

@media screen and (max-width: 425px) {
  .places__paragraph {
    line-height: calc(26 * calc(100vw / 320));
    font-size: calc(16 * calc(100vw / 320));
  }
}
