.photo-grid {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    max-width: 1184px;
    margin-top: 92px;
    gap: 16px 16px;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid {
    width: calc(1184 * calc(100vw / 1280));
    margin-top: 92px;
    gap: 16px 16px;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .photo-grid {
    width: calc(928 * calc(100vw / 1024));
    gap: 14px 14px;
    margin-top: 92px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .photo-grid {
    width: calc(720 * calc(100vw / 768));
    gap: 16px 16px;
    margin-top: 88px;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    width: calc(288 * calc(100vw / 320));
    gap: calc(12 * calc(100vw / 320)) calc(12 * calc(100vw / 320));
    margin-top: calc(64 * calc(100vw / 320));
    grid-template-columns: repeat(
      auto-fill,
      minmax(calc(288 * calc(100vw / 320)), 1fr)
    );
  }
}
