.places__title {
  font-style: normal;
  font-weight: 900;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
  overflow-wrap: break-word;
}

@media screen and (min-width: 1280px) {
  .places__title {
    max-width: 460px;
    flex-basis: 460px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .places__title {
    max-width: calc(460 * calc(100vw / 1280));
  }
}

@media screen and (min-width: 1024px) {
  .places__title {
    font-size: 72px;
    line-height: 76px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .places__title {
    font-size: calc(72 * calc(100vw / 1024));
    line-height: calc(76 * calc(100vw / 1024));
    max-width: calc(440 * calc(100vw / 1024));
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .places__title {
    font-size: 42px;
    line-height: 46px;
    max-width: calc(340 * calc(100vw / 768));
  }
}

@media screen and (max-width: 425px) {
  .places__title {
    font-size: calc(32 * calc(100vw / 320));
    line-height: calc(35 * calc(100vw / 320));
    max-width: calc(288 * calc(100vw / 320));
  }
}
