.places__link {
  font-style: normal;
  font-weight: normal;
  text-decoration-line: underline;
  color: white;
  opacity: 1;
  transition: opacity 0.4s ease-in;
  margin-bottom: 0;
  padding: 0;
}

.places__link:hover {
  opacity: 0.8;
}

@media screen and (min-width: 425px) {
  .places__link {
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 425px) {
  .places__link {
    font-size: calc(18 * calc(100vw / 320));
    line-height: calc(22 * calc(100vw / 320));
  }
}
