.lead {
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1024px) {
  .lead {
    margin-top: 56px;
    width: calc(984 / 1280 * 100%);
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .lead {
    margin-top: 48px;
    width: calc(928 / 1024 * 100%);
  }
}

@media screen and (max-width: 768px) {
  .lead {
    margin-top: 48px;
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .lead {
    margin-top: calc(48 / 320 * 100vw);
    width: 100%;
  }
}
