.header {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 1184px;
}

@media screen and (min-width: 425px) {
  .header {
    margin-top: 28px;
    height: 52px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    width: calc(1184 * calc(100vw / 1024));
  }
}

@media screen and (max-width: 1024px) {
  .header {
    width: calc(928 * calc(100vw / 1024));
  }
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(720 * calc(100vw / 768));
  }
}

@media screen and (max-width: 425px) {
  .header {
    width: calc(288 * calc(100vw / 320));
    height: calc(42 * calc(100vw / 320));
    margin-top: calc(16 * calc(100vw / 320));
  }
}
