.footer__link {
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
}

@media screen and (min-width: 425px) {
  .footer__link {
    font-size: 16px;
    line-height: 18px;
  }
}

@media screen and (max-width: 425px) {
  .footer__link {
    font-size: calc(24 * calc(100vw / 320));
    line-height: calc(24 * calc(100vw / 320));
  }
}
