.lead__title {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;

  font-style: normal;
  font-weight: 900;
  text-align: center;
  color: white;
}

@media screen and (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 100px;
    width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    font-size: calc(98 * calc(100vw / 768));
    line-height: calc(100 * calc(100vw / 768));
    width: calc(720 * calc(100vw / 768));
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    font-size: calc(40 * calc(100vw / 320));
    line-height: calc(44 * calc(100vw / 320));
    width: calc(288 * calc(100vw / 320));
  }
}
