.lead__title {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  text-align: center;
  color: white;
}

@media screen and (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    font-size: calc(96 / 768 * 100vw);
    line-height: 100px;
    width: calc(720 / 768 * 100vw);
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    font-size: calc(40 / 320 * 100vw);
    line-height: 44px;
    width: calc(288 / 320 * 100vw);
  }
}
