.footer__links {
  display: flex;
}

@media screen and (min-width: 768px) {
  .footer__links {
    gap: 18px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .footer__links {
    gap: calc(18 * calc(100vw / 768));
  }
}

@media screen and (max-width: 425px) {
  .footer__links {
    flex-direction: column;
    gap: calc(32 * calc(100vw / 320));
  }
}
