.intro__text {
  font-style: normal;
  font-weight: normal;
  line-height: 163%;
  color: #ffffff;
  margin: 0;
  padding: 0;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .intro__text {
    max-width: 690px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .intro__text {
    max-width: calc(690 * calc(100vw / 1024));
  }
}

@media screen and (max-width: 768px) {
  .intro__text {
    width: 100%;
  }
}

@media screen and (min-width: 425px) {
  .intro__text {
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 33px;
  }
}

@media screen and (max-width: 425px) {
  .intro__text {
    margin-top: calc(40 * calc(100vw / 320));
    margin-bottom: calc(34 * calc(100vw / 320));
    font-size: calc(16 * calc(100vw / 320));
  }
}
