.website__url-heading {
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.2em;
  color: #aaaaaa;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 425px) {
  .website__url-heading {
    font-size: 12px;
    height: 12px;
  }
}

@media screen and (max-width: 425px) {
  .website__url-heading {
    font-size: calc(12 * calc(100vw / 320));
    height: calc(12 * calc(100vw / 320));
  }
}
