.lead__subtitle {
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .lead__subtitle {
    max-width: 640px;
    font-size: 30px;
    line-height: 36px;
    margin-top: 32px;
    margin-bottom: 56px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .lead__subtitle {
    width: 100%;
    max-width: calc(640 * calc(100vw / 768));
    font-size: calc(30 * calc(100vw / 768));
    line-height: calc(36 * calc(100vw / 768));
    margin-top: calc(32 * calc(100vw / 768));
    margin-bottom: calc(56 * calc(100vw / 768));
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    width: 100%;
    max-width: calc(288 * calc(100vw / 320));
    font-size: calc(16 * calc(100vw / 320));
    line-height: calc(20 * calc(100vw / 320));
    margin-top: calc(16 * calc(100vw / 320));
    margin-bottom: calc(40 * calc(100vw / 320));
  }
}
