.lead__subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .lead__subtitle {
    width: 640px;
    font-size: 30px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .lead__subtitle {
    margin-top: calc(32 / 862 * 100vw);
    margin-bottom: calc(56 / 862 * 100vw);
    width: calc(640 / 768 * 100%);
    font-size: calc(30 / 768 * 100vw);
    line-height: calc(36 / 862 * 100vw);
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    margin-top: calc(16 / 406 * 100vw);
    margin-bottom: calc(40 / 406 * 100vw);
    font-size: calc(16 / 320 * 100vw);
    line-height: calc(20 / 406 * 100vw);
    width: calc(288 / 320 * 100%);
  }
}
