.lead__caption {
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #ffffff;
  margin: 0;
  padding: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .lead__caption {
    max-width: calc(720 * calc(100vw / 768));
  }
}

@media screen and (min-width: 425px) {
  .lead__caption {
    line-height: 14px;
    font-size: 10px;
    margin-top: 8px;
  }
}

@media screen and (max-width: 425px) {
  .lead__caption {
    font-size: calc(10 * calc(100vw / 320));
    line-height: calc(14 * calc(100vw / 320));
    margin-top: calc(8 * calc(100vw / 320));
    margin-left: auto;
    margin-right: auto;
    max-width: calc(288 * calc(100vw / 320));
  }
}
