.lead__caption {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  line-height: 14px;
  /* identical to box height, or 140% */

  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-top: 8px;
  display: inline-block;
  align-self: flex-start;
}

@media screen and (min-width: 425px) {
  .lead__caption {
    font-size: 10px;
  }
}

@media screen and (max-width: 425px) {
  .lead__caption {
    font-size: calc(10 / 320 * 100vw);
  }
}
