.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
}

@media screen and (min-width: 1280px) {
  .footer {
    max-width: 1184px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .footer {
    max-width: calc(1184 * calc(100vw / 1280));
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer {
    max-width: calc(928 * calc(100vw / 1024));
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .footer {
    max-width: calc(720 * calc(100vw / 768));
  }
}

@media screen and (min-width: 425px) {
  .footer {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    gap: 48px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    max-width: calc(288 * calc(100vw / 320));
    gap: calc(48 * calc(100vw / 320));
    margin-bottom: calc(24 * calc(100vw / 320));
  }
}
