.footer {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1280px) {
  .footer {
    width: 1184px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .footer {
    width: calc(1184 * calc(100vw / 1280));
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer {
    width: calc(928 * calc(100vw / 1024));
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .footer {
    width: calc(720 * calc(100vw / 768));
  }
}

@media screen and (min-width: 425px) {
  .footer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    width: calc(186 * calc(100vw / 320));
    gap: calc(48 * calc(100vw / 320));
    margin-bottom: calc(24 * calc(100vw / 320));
    margin-left: calc(16 * calc(100vw / 320));
    flex-direction: column;
  }
}
