.places__description {
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .places__description {
    gap: 40px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .places__description {
    gap: calc(40 * calc(100vw / 1280));
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .places__description {
    gap: calc(32 * calc(100vw / 1024));
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .places__description {
    gap: calc(28 * calc(100vw / 768));
  }
}

@media screen and (min-width: 425px) {
  .places__description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (max-width: 425px) {
  .places__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: calc(32 * calc(100vw / 320));
  }
}
